@import './color/theme.less';
@import './common.less';

body {
  /*color: #fff;
  background: #222;*/
  background: @bg-color;
  color: #222;
}

.index{
    position: relative;
    width: 100%;
    height: 680px;

    .sider{
        position: absolute;
        // left: 25%;
        left: 0;
        top: 0;
        bottom: 0;
        //float: left;

        width: 25%;
        // background-color: cornflowerblue;
        height: 100%;
        // transform: translateX(-315.75);
        // transition: transform 2s ease-in-out;

        animation: siderIn 1s;
        -moz-animation: siderIn 1s;	/* Firefox */
        -webkit-animation: siderIn 1s;	/* Safari 和 Chrome */
        -o-animation: siderIn 1s;	/* Opera */
    }

    .content{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        //float: right;

        width: 75%;
        background: @bg-color;
        height: 100%;

        padding: 40px 20px 0px 14px;
    }
}

.person-info{
    font-size: 14px;
    
    li{
        margin: 0 0 14px 0;

        i{
            color: @primary-color;
        }

        span{
            color: @sider-text-color;
        }
    }
}

.fa{
    width: 32px;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    // margin-right: 5px;
}

.hoby{
    position: relative;
    width: 100%;
    font-size: 14px;
    li{
        float: left;
        width: 50%;
        height: 60px;

        i{
            color: @primary-color;
        }

        span{
            color: @sider-text-color;
        }
    }
}

.job-intention{
    position: relative;
    width: 100%;

    li{
        float: left;
        margin-right: 20px;
        // width: 50%;
        // height: 60px;
        .fa{
           width: 14px;
           text-align: right; 
           margin-right: 5px;
        }
        i{
            color: @primary-color;
        }

        span{
            color: @sider-text-color;
        }
    }
}

.left-sec{
    width: 50%;
    float: left;
}
.right-sec{
    width: 50%;
    float: right;
}

@keyframes siderIn{
    from {
        //transform: translateX(0);
        left: -315.75px;
    }
    to{
        left: 0;
        //transform: translateX(315.75);
    }
}
@-moz-keyframes siderIn /* Firefox */
{
  from {
        //transform: translateX(0);
        left: -315.75px;
    }
    to{
        left: 0;
        //transform: translateX(315.75);
    }
}

@-webkit-keyframes siderIn /* Safari 和 Chrome */
{
   from {
        //transform: translateX(0);
        left: -315.75px;
    }
    to{
        left: 0;
        //transform: translateX(315.75);
    }
}

@-o-keyframes siderIn /* Opera */
{
    from {
        //transform: translateX(0);
        left: -315.75px;
    }
    to{
        left: 0;
        //transform: translateX(315.75);
    }
}




